body {
	background-color: #F5F5F5;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	margin: 0;
  padding: 30px 20px;
}

header {
	background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / span 12;
	padding: 10px 30px 15px;
	text-align: center;
}

h1 {
	margin-bottom: 0;
}

label {
	font-weight: 300;
	letter-spacing: 1;
}

p.small {
	font-size: 10px;
	font-style: italic;
}

.header__inner {
  display: grid;
  grid-column: 4 / span 6;
}

.sp-circle {
	display: none;
}

.grid__container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1170px;
}

.column {
	background-color: #FFF;
	border-radius: 6px;
  padding: 30px;
}

.spanAll {
  grid-column: auto / span 12;
}

.span6 {
  grid-column: auto / span 6;
}

@media only screen and (max-width: 768px) {
  header {
  	grid-template-columns: repeat(2, 1fr);
		grid-column: 1 / span 2;
  }
	.grid__container {
  	grid-gap: 15px;
  	grid-template-columns: repeat(2, 1fr);
	}
	.spanAll,
  .span6 {
  	grid-column: auto / span 2;
  }
}

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 7px;
  margin-top: 10px;
}

#areaChart {
	padding-top: 20px;
}
#areaChart .c3-chart-lines .c3-chart-line .c3-circles {
    display: none;
}
#areaChart .c3-area {
  opacity: 1;
}
#areaChart .c3-title {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.3;
	text-transform: uppercase;
}
#areaChart .legend {
	display: flex;
	margin-left: 40px;
	margin-top: 25px;
}
#areaChart .legend span {
	color: #FFF;
	font-size: 12px;
	padding: 5px 15px;
  text-align: center;
}
#areaChart .legend span:nth-child(-n + 2) {
	color: #333;
}